@tailwind base;
@tailwind components;
@tailwind utilities;

/* .max-w-full{
    max-width: 80% !important;
} */

.my-container {
    max-width: 1300px !important;
    margin: 0 auto !important;
    padding: 0 20px !important;
}

.Btn {
    background-color: #ffc83d;
    color: black;
    display: inline-flex;
    height: 2.3rem;
    min-height: 2.3rem;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--rounded-btn, 0.5rem);
    border-color: transparent;
    border-color: oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity));
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1em;
    gap: 0.5rem;
    font-weight: 500;
    text-decoration-line: none;
    text-decoration-line: none;
    transition-duration: 200ms;
}

/* From Uiverse.io by alexruix */
.input {
    max-width: 400px;
    width: 100%;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
}

.label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.input:hover,
.input:focus,
.input-group:hover .input {
    outline: none;
    border-color: #05060f;
}

.input-group:hover .label,
.input:focus {
    color: #05060fc2;
}